/* 
    Document   : style
    Created on : Oct 21, 2011, 6:05:16 PM
    Author     : Chaman
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body{
    background:white;
    font-size: 9pt;
    font-family:arial, Helvetica,sans-serif;
    margin:0px;
    padding:0px;
    color: #444444;
}
#menu{width:100%;background-color:#2a2a2a;height: 40px;}
#menu ul{margin: 0;padding-top:15px;padding-left:5px;padding-bottom:0px;
padding-right:0px;width:473px;height:24px;list-style-type: none;float:left;
font-size:8pt;font-family: arial;color:#999;background-color:#2a2a2a;font-weight: bold; }
#menu ul li{display: inline;padding-right:10px;}
#menu ul li a{text-decoration:none;color:#999;}
#menu ul li a:hover{text-decoration:none;color:#FFCC00;}
#customers table{font-size: 8pt; width: 99%;}
#makesList table{font-size: 8pt; width: 40%;}
#customers thead{color:#999;background-color:#2a2a2a;font-weight: bold;font-size: 8pt;}
#makesList thead{color:#999;background-color:#2a2a2a;font-weight: bold;font-size: 8pt;}
#vehicles table{font-size: 8pt; width: 99%; }
#vehicles thead{color:#999;background-color:#2a2a2a;font-weight: bold;font-size: 8pt;}
#vehicles{padding-top: 30px;}
#rowColor{background-color:#DDDDDD;}
#rowColorAlt{background-color:#BBBBBB;}
.rf_label{float:left; padding-top: 10px;}
.rf_input{padding-left: 130px; padding-top: 10px; padding-right: 271px;}
#sdCounter span{font-size: 8pt; color: grey;}
#sdCounter1 span{font-size: 8pt; color: grey;}
#searchMsg{font-size: 8pt; color: grey;}
.error{border: red 2px solid;background: #FFCCCC;padding-bottom: 5px; padding-top: 5px; padding-left: 5px;}
.error span{padding: 2px 0px 2px 0px;}
.required{color: red; font-weight: bold;}
.message{border: green 2px solid;background: #CCFFCC;padding-bottom: 5px; padding-top: 5px; padding-left: 5px; margin: 0px 5px 10px 0px;}
.image{border:0px none;}
#navigation{text-align: center;color:#999;background-color:#2a2a2a;font-weight: bold;font-size: 8pt;}
#report-pos1 {border-style: dashed; border-color: #CCCCCC; float:left; margin:20px 0px 0px 30px; }
#report-pos1 img{padding-left: 10px; }
#report-pos2 {border-style: dashed; border-color: #CCCCCC; margin:20px 0px 0px 20px; float: left;}
#report-pos2 img{padding-left: 10px; }
#veh-top-controls {width: 99%;}
#veh-top-cont-left{float: left;}
#veh-top-cont-right{float: right;}
#report-pos3-head{margin: 350px 0px -14px 40px; color: #888888;}
#report-pos3{border-style: dashed; border-color: #CCCCCC; width: 92%; margin-left: 40px; margin-bottom: 10px;}
#report-pos3 table{font-size: 8pt; width: 100%;}
#report-pos3 thead{color:#999;background-color:#2a2a2a;font-weight: bold;font-size: 8pt;}
#description{color: #999999; font-size: 9pt;}
#vehicleAdd{margin: 0px 0px 0px 5px;}
#vehicleEdit{margin: 0px 0px 0px 5px;}
#vehiclesList{margin: 0px 0px 0px 5px;}
#customers{margin: 0px 0px 0px 5px;}
#customerAddForm{margin: 0px 0px 0px 5px;}
#makesList{margin: 0px 0px 0px 5px;}
#makeAdd{margin: 0px 0px 0px 5px;}
#makeEdit{margin: 0px 0px 0px 5px;}
#modelAdd{margin: 0px 0px 0px 5px;}
#modelEdit{margin: 0px 0px 0px 5px;}
#services{margin: 0px 0px 0px 5px;}
#serviceAdd{margin: 0px 0px 0px 5px;}
#serviceEdit{margin: 0px 0px 0px 5px;}
#services table{font-size: 8pt; width: 99%;}
#services thead{color:#999;background-color:#2a2a2a;font-weight: bold;font-size: 8pt;}
#modelsList{margin: 0px 0px 0px 5px;}
#modelsList table{font-size: 8pt; width: 40%;}
#modelsList thead{color:#999;background-color:#2a2a2a;font-weight: bold;font-size: 8pt;}




#report-customer{border-style: solid; float: left; width: 44%; border:0.5mm dashed #220044;
    background-color: #f0f2ff;
    border-radius: 3mm / 3mm;
    background-clip: border-box;
    padding: 1em;}
#report-vehicle{border-style: solid; float:right; width: 44%; border:0.5mm dashed #220044;
    background-color: #f0f2ff;
    border-radius: 3mm / 3mm;
    background-clip: border-box;
    padding: 1em;}
#serviceRec{width: 98%; /*border:0.5mm dashed #220044;*/
   /* background-color: #EEEEEE;
    border-radius: 3mm / 3mm;*/
    background-clip: border-box;
    padding: 1em;
    margin-top: 10px 0px 0px 0px;}
#databaseMsg{margin: 150px 125px 0px 125px; text-align: center; font-weight: bold;}

